/*
 * GENERAL
 */
html {
	background: url(../img/encuentro-vocacional-bg.jpg) no-repeat center top fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: OpenSans, sans-serif;
}

a,
a:visited {
	color: #d71a1a;
}

.languages {
	text-align: center;
	background: rgba(255,255,255,.5);
	padding: .4em 0 .5em;
	width: 55em; 
	margin: 0 auto;
	border-bottom: 1px solid white;
	line-height: 2em;
}
	.languages a {
		padding: 0 1.5em 0 22px;
		background-color: transparent;
		background-position: left center;
		background-repeat: no-repeat;
		display: inline-block;
		text-decoration: none;
		font-weight: bold;
	}
	.languages a:hover {
		text-decoration: underline;
	}
	.languages .pt {
		background-image: url(../img/flags/br.gif);
	}
	.languages .en {
		background-image: url(../img/flags/us.gif);
	}
	.languages .it {
		background-image: url(../img/flags/it.gif);
	}
	.languages .es {
		background-image: url(../img/flags/es.gif);
	}
	.languages .fr {
		background-image: url(../img/flags/fr.gif);
	}

.main {
	width: 55em;
	margin: 0 auto;
	background: rgba(255,255,255,.5);
}

header {
	padding: 3% 0;
}

.title {
	text-align: center;
	font-weight: normal;
	margin: 0;
	font-size: 2em;
}
	.title a {
		text-decoration: none;
	}

.subtitle {
	text-align: center;
	margin-top: 0;
	font-weight: normal;
}
	.subtitle .end,
	.subtitle .address,
	.subtitle .geo {
		display: none;
	}

.intro-text {
	margin: 0 2em 2em;
	text-align: center;
}

.player {
	text-align: center;
}

.warning {
	background: #eee;
	border: 1px solid silver;
	border-radius: .4em;
	padding: 5%;
	text-shadow: 1px 1px 1px white;
	color: #555;
	margin: 0 auto;
	width: 32em;
	line-height: 1.6em;
}
	.warning ul {
		margin-bottom: 0;
	}
.warning.error {
	color: red;
}
.warning.finished {
	text-align: center;
	font-size: 1.2em;
}

.down {
	overflow: hidden;
}

.other-channels {
	margin: 7% 2% 0;
	width: 27em;
	max-width: 100%;
	float: left;
	border-right: 1px solid silver;
}
	.other-channels h3 {
		margin: 0;
		font-weight: normal;
		padding: 0 2em 0 1em;
	}
	.channels {
		list-style: none;
		padding: 0;
		overflow: hidden;
		margin: 2em 0;
		text-align: center;
	}
		.channels li {
			display: inline-block;
			margin-right: 10%;
			border-radius: .5em;
			padding: .5em 1em;
			background: white;
		}
		.channels a {
			display: inline-block;
		}
			.channels a span {
				display: none;
			}

		.channels .tvmediterraneo {
			background: url(../img/tv-mediterraneo-off.png) left top no-repeat;
			width: 100px;
			height: 68px;
		}
			.channels .tvmediterraneo:hover {
				background-image: url(../img/tv-mediterraneo.png);
			}
		.channels .populartv {
			background: url(../img/tv-popular-off.png) left top no-repeat;
			width: 79px;
			height: 68px;
		}
			.channels .populartv:hover {
				background-image: url(../img/tv-popular.gif);
			}

.bottom-links {
	margin: 4em 0 0 1em;
	text-align: center;
	font-size: .9em;
	float: left;
	width: 18em;
}
	.bottom-links a {
		display: inline-block;
		text-decoration: none;
		text-align: left;
		padding: 0 0 0 .5em;
		min-height: 4em;
		font-size: 1.2em;
	}
		.bottom-links a:hover {
			text-decoration: underline;
		}
		.bottom-links a strong {
			display: block;
			font-weight: bold;
		}

/*
 * Generic
 */

.block {
	display: block;
}


/******************************************************* MOBILE *******************************************************/


@media only screen and (max-width: 55em) {
	html {
		background: white;
	}
	body {
		line-height: 1.2;
		background: white;
		font-family: arial, sans-serif;
	}
	.languages {
		width: 100%;
		background: #f0f0f0;
	}
    .main {
    	width: auto;
    	padding: 1%;
    }

    .title {
    	font-size: 1.5em;
    }

    .subtitle {
    	margin-top: .5em;
    	font-size: 1.2em;
    }

	.warning {
		width: auto;
	}
	.other-channels {
		border-right: none;
	}

	.bottom-links {
		margin-top: 1em;
		border-top: 1px solid silver;
		width: 100%;
		padding-top: 1em;
	}
}